{{ define "main" }}
<!-- {{ partial "carousel.html" (dict "context" . "items" "1" "height" "15" "unit" "%" "duration" "8000") }} -->
   {{ partial "head.html" .}}
{{ partial "about.html" .}}

{{ $projects := slice "creations" "contributions" }}

{{ $sections := slice "teaching" "research" "talks" "various" "CV"}}

{{ $site := .Site }}

{{ range .Site.Params.sections }}
      {{ $sectionName := . }}
      {{ if in $projects . }}
         {{ with $site.GetPage "section" (printf "projects/%s" .) }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else if in $sections . }}
         {{ with $site.GetPage "section" . }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else }}
         {{ partial (printf "portfolio/%s" . ) $.Site }}
      {{ end }}
{{ end }}
   <script type="text/javascript" src="/js/carousel.js"></script>
   <link rel="stylesheet" href="/css/carousel.css">
</body>
</html>
{{ end }}


