<div class="bottomleftimage">
    <img src="{{ "" }}{{ .Get 0 }}" alt="{{ .Get 1 }}">
</div>

<style>
.bottomleftimage {
    position: absolute;
    bottom: -3350px;
    left: -10px;
    width: 20%;
    pointer-events: none;
}
.bottomleftimage img {
    max-width: 10px; /* Ajustez la taille selon vos besoins */
}

@media screen and (max-width: 1000px) {
    .bottomleftimage {
        display: none;
    }
}
</style>
