<figure style="text-align: center;">
    <a href="#!" onclick="openLightbox('{{ .Get "src" }}')">
        <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" style="width:{{ .Get "width" }}px; margin: 0 auto; display: block;" />
    </a>
    {{ if .Get "caption" }}
    <figcaption style="font-size: 0.9em; color: #555; margin-top: 5px;">
        {{ .Get "caption" }}
    </figcaption>
    {{ end }}
</figure>

<!-- Lightbox container -->
<div id="lightbox" style="display:none; position:fixed; z-index:9999; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8); text-align:center; justify-content:center; align-items:center;">
    <span style="position:absolute; top:20px; right:35px; font-size:40px; color:white; cursor:pointer;" onclick="closeLightbox()">&times;</span>
    <img id="lightboxImage" src="" style="max-width: 90%; max-height: 90%;" />
</div>

<script>
function openLightbox(src) {
    document.getElementById('lightbox').style.display = 'flex';
    document.getElementById('lightboxImage').src = src;
}

function closeLightbox() {
    document.getElementById('lightbox').style.display = 'none';
}
</script>
