<div style="position: absolute; bottom: 20px; right: 20px;">
    <a href="{{ .Site.Params.googleScholar }}" target="_blank">
        <img src="{{ .Site.Params.googleScholarIcon }}" alt="Google Scholar" style="width: 40px; height: 40px; margin-right: 10px;">
    </a>
    <a href="{{ .Site.Params.gitlab }}" target="_blank">
        <img src="{{ .Site.Params.gitlabIcon }}" alt="GitLab" style="width: 40px; height: 40px; margin-right: 10px;">
    </a>
    <a href="{{ .Site.Params.cv }}" target="_blank">
        <img src="{{ .Site.Params.cvIcon }}" alt="CV" style="width: 40px; height: 40px;">
    </a>
</div>
