<div class="toprightimage">
    <img src="{{ "" }}{{ .Get 0 }}" alt="{{ .Get 1 }}">
</div>

<style>
.toprightimage {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20%;
}
.toprightimage img {
    max-width: 10px; /* Ajustez la taille selon vos besoins */
}

@media screen and (max-width: 1000px) {
    .toprightimage {
        display: none;
    }
}
</style>
